.titulo{
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.card_contenedor{
    position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 25px;
	padding: 20px;
    justify-items: center;

}

.card{
	width: 100%;
	background: #fff;
}
.card__imgBx{
	position: relative;
	width: 100%;
	height: 310px;
	overflow: hidden;
}
.card__imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.4s ease-in-out;
	transform-origin: right;
}
.card:hover .card__imgBx img{
	transform: scale(1.3);
}
.card__contenido{
	padding: 10px;
}
.action{
	position: absolute;
	top: 10px;
	right: 10px;
}
.action__box{
	position: relative;
	list-style: none;
	width: 40px;
	height: 40px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(207, 207, 207);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
	cursor: pointer;
	transition: .2s ease-in;
	transform: translateX(60px);
}
.card:hover .action__box{
	transform: translateX(0px);
}
.action__box span{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%) translateX(-20px);
	white-space: nowrap;
	padding: 6px 10px;
	color: #000;
	background: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	pointer-events: none;
	opacity: 0;
	transition: .2s ease-in;
}
.action__box:first-child:hover{
    background-color: #fc2f2f;
}
.action__box:hover{
	border: none;
	background: rgb(108, 165, 240);
	color: #fff;
	border-radius: 10%;
	
}
.action__box:hover span{
	opacity: 1;
	transform: translateY(-50%) translateX(0px);
}
.action__box:nth-child(2){
	transition-delay: 0.15s;
}
.action__box:nth-child(3){
	transition-delay: 0.3s;
}
.contenido__nombreProducto h3{
	font-size: 18px;
	color: #333;
	margin: 5px 0;
}
.contenido__precioProducto{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contenido__precioProducto h2{
	font-size: 20px;
	color:#000;
	font-weight: normal;
}

.detalles{
	position: absolute;
	right: 50px;
	top: 100px;
	height: 200px;
	width: 170px;
	transform: translateY(-50%) translateX(0px);
	padding: 6px 10px;
	color: #000;
	background: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	pointer-events: none;
	opacity: 0;
	transition: .1s ease-in;
}
.detalles h3{
	padding-bottom: 12px;
}
.detalles h4{
	padding: 5px 0;
}
.detalles li{
	list-style: none;
}
.action__box:hover .detalles{
	transform: translateY(-50%) translateX(-20px);
	opacity: 1;
}